<div id="novo_comentario" style="display: none">
  <% form_for :comment, :url => { :controller => "comments", :action => "processar" } do |f| -%>
    <%= render :partial => "comments/form", :locals => { :f => f } %>
  <% end %>
</div>