<div class="grid_10 alpha">
<h1>Observe temas e regiões do seu interesse</h1>

<div style="padding: 20px 20px 40px 20px; border: 3px solid #E6E7DC" class="rounded">
<p>Acompanhe com seu <strong>observatório</strong> o que acontece nos <strong>temas</strong> e nas <strong>regiões</strong> que mais lhe interessam.</p>
<p>Como funciona o observatório?</p>
<ol>
  <li>Defina os temas e as regiões de seu interesse</li>
  <li>Acompanhe num mesmo lugar propostas, problemas, comentários e apoios</li>
  <li>Receba semanalmente as novidades por e-mail</li>
</ol>
<p>Este recurso é exclusivo para <strong>usuários cadastrados</strong>.</p>
<br />
<div style="margin:0 auto;width:370px">
<a style="background:#2CB3BC;padding:15px;color:white;font-size:18px;" class="rounded" href="<%= login_url %>">Faça seu Login</a>
<span>OU</span>
<a style="background:#2CB3BC;padding:15px;color:white;font-size:18px;" class="rounded" href="<%= cadastrar_url %>">Cadastre-se Agora!</a>
</div>
</div>
</div>
<div class="grid_6 omega">
	<%= image_tag('/images/binoculo.jpg')%>
</div>