<h1>Editar bairro</h1>

<% form_for(@bairro, :url => admin_bairro_path(@bairro)) do |f| %>
  <%= error_messages_for :bairro %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <%= f.submit "Salvar" %> ou
  <%= link_to "Voltar", admin_bairros_path %>
<% end %>