/* Cloud
-----------------------------------------------------------------------------
*/

.cloud {
  font-family: Arial, sans-serif;
  background-color: #F3F3ED;
  padding: 10px;
  margin: 0;
  line-height: 20px;
  text-align: center;
}

.cloud a,
.cloud a:visited { color: #009BCA; }

.cloud .nuvem_1,
.cloud .nuvem_2,
.cloud .nuvem_3,
.cloud .nuvem_4,
.cloud .nuvem_5 { margin: 0 5px; }

.cloud .nuvem_1 { font-size: 11px; }
.cloud .nuvem_2 { font-size: 14px; }
.cloud .nuvem_3 { font-size: 16px; font-weight: bold; }
.cloud .nuvem_4 { font-size: 22px; }
.cloud .nuvem_5 { font-size: 25px; font-weight: bold; letter-spacing: -1px; }

p.cloud_titulo {
color:#2B696E;
font-size:18px;
font-weight:bold;
letter-spacing:-0.05em;
line-height:20px;
margin:0 0 5px 0;
}