<h3>Você já conhece o portal CIDADONOS?</h3>
<p>Então veja já o que está em destaque na cidade de Jundiaí!</p>
<p><%= link_to image_tag("logo_cidadonos_final.png"), "http://www.cidadedemocratica.org.br/home/cidadonos" %></p>

<!-- div>
  <p class="warning">Este é um exemplo de arquivo de aviso.</p>
  <p>Basta personalizá-lo e editar a mensagem desejada.</p>
  <p>Funcionalidades RAILS são permitidas aqui. Exemplo:<br />
    O usuário está logado? 
    <% if logged_in? %> 
      <b>sim</b>, é o <b><%= current_user.nome %></b>.
    <% else -%> 
      <b>não</b>.
    <% end -%>
  </p>
</div -->