<div class="grid_12 alpha omega">
  <h3>Parceiros</h3>
  <p>Cidadonos é um concurso que vai premiar as melhores ideias e propostas para transformar Jundiaí na cidade dos sonhos dos seus moradores. Tal objetivo só pode ser alcançado com a parceria de todos aqueles que estiverem dispostos a construir uma cidade melhor! 
    Conheça quem já é parceiro do Concurso (<%= link_to "link", "https://spreadsheets.google.com/ccc?key=0AmyeYWGHr4UNdGNpcmZyUlc3X25qaUwySnI5UW1pcXc&hl=pt_BR", :target => "_blank" %>) e como sua organização pode fazer parte também (<%= link_to "link", "https://docs.google.com/document/d/11I_0kJL1D_e5Gw8ua9XEa0drL-72f1TCUXZ31eT0y0o/edit?hl=pt_BR", :target => "_blank" %>).</p>
</div>
