<div class="grid_12 alpha omega">
  <h3>Apoiadores</h3>
<style type="text/css" media="screen">
.logo-apoio{
  vertical-align:top;
  float:left;
  margin: 0 10px 10px;
}
</style>
  <p><%= image_tag "cidadonos_apoio-cidadedemocratica-peq.png", :class => "logo-apoio" %>
    <b>Cidade Democrática</b><br />
    É uma plataforma de participação política, onde cidadãos e entidades podem se expressar, se comunicar e gerar mobilização para a construção de uma sociedade cada vez melhor.</p>
  <p style="margin:40px 0 0 10px"><%= image_tag "cidadonos_apoio-senacsp-peq.png", :class => "logo-apoio" %>
    <b>Senac Jundiaí</b><br />
    Referência de organização educacional e do Terceiro Setor, sua missão é proporcionar o desenvolvimento de pessoas e organizações para a sociedade do conhecimento.</p>
  <p style="margin-top:40px"><%= image_tag "cidadonos_apoio-redesocialjundiai-peq.png", :class => "logo-apoio" %>
    <b>Rede Social Jundiaí</b><br />
    Programa que busca articular os atores sociais de Jundiaí e Região visando a melhoria da qualidade de vida de suas comunidades e o desenvolvimento local.</p>
</div>
