<div class="grid_12 alpha omega">
  <h3>Quem somos</h3>
  <p>Cidadonos é um concurso que vai premiar as melhores ideias e propostas para transformar Jundiaí na cidade dos sonhos dos seus moradores. Cidadãos, ONGs, Escolas, Empresas e Governantes interessados poderão participar apresentando ideias, votando nas melhores e apoiando sua implementação para construirmos uma Jundiaí melhor. <b>(Assista o vídeo do concurso)</b></p>
  <p>Serão 12 questões premiadas por tipo de propositor (cidadão, ONG, parlamentar e gestor público) e também com 4 categorias temáticas (Meio Ambiente, Educação, Juventude e Cultura). As questões vencedoras farão parte de uma Agenda Cidadã que será apoiada por todos, para que virem políticas públicas. <b>Veja o regulamento</b></p>
</div>
