<div class="grid_12 alpha omega">
  <h3>Quem somos</h3>
  <p>O Concurso Várzea 2022 (www.varzea2022.com.br) vai premiar as melhores ideias e propostas para transformar Várzea Paulista na cidade dos sonhos dos seus moradores. Cidadãos, Entidades, Empresas, Igrejas e Governantes poderão participar apresentando suas ideias, votando nas melhores propostas e apoiando sua implementação para a construção de uma vida melhor para todos.</p>
  <p>O governo amplifica o poder de participação da comunidade nas decisões para o futuro da cidade das orquídeas. Todo mundo pode participar elegendo as melhores propostas e ajudando a transformá-las em realidade até 2022.</p>
</div>
