<div class="grid_12 alpha omega">
  <h3>Parceiros</h3>
  <p>O Concurso Várzea 2022 vai premiar as melhores ideias e propostas para transformar Várzea Paulista na cidade dos sonhos dos seus moradores.</p>
</div>
