<div class="grid_16 alpha omega">
  <h1>Parceiros</h1>
  <p>
    Conheça quem apoia o Cidade Democrática como uma importante ferramenta de articulação entre os setores privado, público e cidadão
    para o desenvolvimento de uma nova geração de ações, projetos e políticas públicas com foco no atendimento integral das demandas
    da sociedade.
  </p>
  <div id="Nome_patrocionador" class="grid_16 alpha omega">
    <div class="grid_4 alpha" style="text-align:right;">
      <%= image_tag("logo_avina-200px.gif", :alt => "Logo AVINA") %>
    </div>
    <div class="grid_12 omega">
      <h2>Avina</h2>
      <p>A Fundação AVINA deseja contribuir para o desenvolvimento sustentável da América Latina, incentivando a construção de laços de confiança e parcerias frutíferas entre líderes sociais e empresariais, e articulando agendas de ação compartilhadas.</p>
      <p>Avina diz: &quot;A visão inovadora do Cidade Democrática tem nos inspirado a uma relação de parceria que busca promover o uso estratégico das Mídias e Redes Sociais visando a mobilização e participação cidadã qualificada em busca da transformação social.&quot;</p>
    </div>
   </div>

	<h3><a href="/">Clique aqui para conhecer o Cidade Democrática</a></h3>
	<h3><a href="/tour">Assista o tour em video</a></h3>
    </div>
  </div>

</div>