<div class="grid_16 alpha omega">

<div class="grid_6 alpha">

<img src="/images/promocao/logo_promocao.gif">
<p><strong>Vá com tudo pago ao evento Cidade Democrática que acontecerá em São Paulo, no dia 23 de março de 2010, apresentar e debater suas ideias para as nossas cidades.</strong></p>

<p>Leia aqui o <%= link_to "Regulamento da Promoção Melhor Mobilizador", "/pdf/regulamento_melhor_mobilizador.pdf" %> completo em PDF</p>

</div>

<div class="grid_9 omega">
<h1>Promoção MELHOR MOBILIZADOR</h1>



<p>Para que as discussões virtuais culminem em ações reais, o Cidade Democrática promoverá um evento onde estarão presentes ___________ discutindo e encaminhando as propostas que tiveram mais destaque no site.</p>

<p>Participam usuários dos estados do Ceará, Minas Gerais, Paraná, São Paulo, Santa Catarina e Mato Grosso do Sul.</p>

<p>Será escolhido um participante por estado cuja proposta ou problema tiver mais apoios no site até 27 de fevereiro de 2010.</p>

<p>A participação é automática, basta usar o Cidade Democrática e mobilizar os apoios.</p>

<h3>Comece agora!</h3>



</div>




</div>

