<% title "Bugigangas" %>

<h1>Bugigangas do Cidade Democrática</h1>
<p>Leve um pouco do Cidade Democrática para o seu <strong>site, blog</strong> ou <strong>rede social</strong></p>
<p></p>
<div class="grid_16 alpha omega">
  <div class="grid_6 prefix_2 alpha">
    <h2><%= link_to("Selos", :controller => "bugigangas", :action => "selos") %></h2>
    <p>Divulgue o Cidade Democrática na internet e multiplique a participação cidadã.</p>
  
    <h2><%= link_to("Bugiganga", :controller => "bugigangas", :action => "bugiganga") %></h2>
    <p>Mostre um resumo das suas atividades cidadãs direto no seu site ou blog.</p>
  
    <h2><%= link_to("Aplicativo NING", :controller => "bugigangas", :action => "ning") %></h2>
    <p>Se você é administrador de uma rede Ning, veja como incluir o aplicativo do Cidade Democrática.</p>
  </div>

</div>