<% title "Bugigangas - NING" %>
<p><%= link_to "< Voltar para Bugigangas", bugigangas_url %></p>
<h1>Aplicativo para NING</h1>
<p><strong>Veja como instalar o Aplicativo NING do Cidade Democrática:</strong></p>
<p></p>
<div class="grid_16 alpha omega">
  <div class="grid_6 prefix_2 alpha">
    <p>
      Com este aplicativo, a sua rede social mostrará suas últimas atividades no 
      Cidade Democrática (a) na HOME do NING e (b) na ABA "Cidade Democrática" que será
      criada.
    </p>
  
    <ol>
      <li>
        Acesse a página do <a href="#" target="_blank">Aplicativo no NING</a>
      </li>
      <li>
        Entre sua identificação de administrador do NING (login e senha)
      </li>
      <li>
        Configure o aplicativo seguindo as intruções (você precisará informar
        sua senha e login do Cidade Democrática)
      </li>
    </ol>
  </div>
</div>