<div>
  <h2>Bem vindo ao CIDADE DEMOCRÁTICA</h2>
  <p>Você acaba de entrar no CIDADE DEMOCRÁTICA, site que oferece suporte para realização do Concurso CIDADONOS.</p>
  <p>Conheça mais detalhes do Concurso CIDADONOS assistindo vídeo comercial (<%= link_to "clique aqui", "#" %>) e o regulamento de premiação (<%= link_to "clique aqui", "https://docs.google.com/document/d/1sGlYEP72p4VUwkwDunc1ce8me_Vn_MnOWshsWpPw8p0/edit?hl=pt_BR" %>). Cadastre-se e participe da construção de uma Jundiai em que gostaríamos de ver nossos filhos vivendo.</p>
  <p>Pode um sonho construir uma cidade?</p>
  <p>Com sua ajuda, PODE!</p>
</div>